@charset "UTF-8";
input[type=checkbox] {
  display:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  border:none;
}

input[type=radio] {
  display:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  border:none;
}

input[type=checkbox] + label{
  display:inline-block;
  background: url("../img/button_1.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 0%;
  cursor: pointer;
}

input[type=checkbox]:checked + label{
  display:inline-block;
  background:url("../img/button_1_checked.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 0%;
}

input.playCheckbox[type=checkbox] + label{
  content: url("../img/play.svg");
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
}
input.stopCheckbox[type=checkbox] + label{
  content: url("../img/stop.svg");
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
}
input.randomCheckbox[type=checkbox] + label{
  content: url("../img/random.svg");
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
}
input.exportCheckbox[type=checkbox] + label{
  content: url("../img/export.svg");
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
}

input.moodCheckbox[type=checkbox] + label{
  display:inline-block;
  vertical-align: middle;
  background: url("../img/button_1.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  content: url("../img/happy.svg");
  height: 100%;
  width: 100%;
  padding: 0%;
  cursor: pointer;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
}

input.moodCheckbox[type=checkbox]:checked + label{
  display:inline-block;
  vertical-align: middle;
  background:url("../img/button_1_checked.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  content: url("../img/sad.svg");
  height: 100%;
  width: 100%;
  padding: 0%;
}

.buttonText {
  background: transparent;
  font-weight: bold;
  vertical-align: 60%;
  color: rgba(27, 27, 26, 0.908);
  font-size: 60%;
  cursor: pointer;
}

input.muteCheckbox[type=checkbox] + label{
  height: 100%;
  width: 100%;
  content: url("../img/mute.svg");
  -webkit-filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  filter: drop-shadow(3px 3px 3px rgba(38, 39, 39, 0.5));
  align-self: end;
}